body {
    max-width: 200vw !important;
    width: 100vw !important;
    background-color:  rgba(0, 89, 255, 0.258);
    overflow-x: hidden;
}

.top-section {
    background: linear-gradient(var(--angle), rgb(155, 0, 155), rgb(190, 0, 190),  rgb(0, 89, 255));
    box-shadow: 0px 0px 10px 2px #333;
    min-height: 100vh;
    min-width: 103vw;
    transform: translateX(-10px);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: gradient 20s linear infinite;
}

@property --angle {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}

@keyframes gradient {
    0% {
        --angle: 0deg;
    }
    100% {
        --angle: 360deg;
    }
}


header {
    position: fixed;
    top: 0;
    left: 10px;
    right: 0;
    height: 55px;
    z-index: 1000;
    background-color: #333;
    transform: translate(-10px);
    width: 100vw;
    box-shadow: 0px 0px 10px 2px #333;
    user-select: none;
}

header h1 {
    position: absolute;
    transform: translate(10px, -10px);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 180%;
    font-weight: 800;
    color: white;
    text-shadow: 0px 0px 20px #32ccff, 0px 0px 40px #32ccff;
}

.menuContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transform: translate(-30px, 18px);
    gap: 20px;
}

.menuContainer button {
    color:#00bfff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    font-size: large;
    transition: all 0.3s ease;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.menuBtn {
    display: none;
    transform: translate(20px, -2px) scale(2);
}

@media (max-width: 554px) {
    .menuBtn {
        display: flex;
        justify-content: flex-end;
    }

    .menuContainer .button {
        display: none;
    }
}

.menuContainer button::before {
    content: '';
    display: block;
    position: relative;
    height: 2px;
    width: 60px 200px 300px;
    background-color: #00bfff;
    transition: all 0.3s ease;
    top: 25px;
    right: 0;
    transform: scaleX(0);
}

.menuContainer button:hover::before {
    transform: scaleX(1);
    background-color: #ADD8E6;
}

.menuContainer button:hover {
    color: #ADD8E6;
}
.welcome {
    transform: translate(0, -50px);
    text-transform: capitalize;
    font-size: 270%;
    font-family: "Mitr", sans-serif;
    font-weight: 600;
    font-style: normal;

}

.top-section p {
    position: absolute;
    font-size: 120%;
    font-family: "Mitr", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.top-section button {
    position: absolute;
    text-align: center;
    transform: translate(-10px, 120px) scale(1.5);
    width: 150px;
    padding: 10px;
    font-family: "Mitr", sans-serif;
    font-weight: 600;
    font-style: normal;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    transition: all 0.3s ease;
    color: black;
}

.top-section button:hover {
    background-color: #32ccff !important;
    transform: translate(-10px, 120px) scale(1.6);
    box-shadow: 0px 0px 10px 3px purple;
}

@media (max-width: 521px) {
    .top-section h1 {
        transform: translate(0, -70px);
        text-align: center;
    }
    .top-section p {
        transform: translate(0, 40px);
    }
    .top-section button {
        transform: translate(0, 160px) scale(1.5);
    }

    .top-section button:hover {
        background-color: #32ccff4d;
        transform: translate(0, 160px) scale(1.6);
    }
}

.aboutMeText {
    font-family: "Mitr", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 220%;
    transform: translate(0, 10px);
    z-index: 1;
    display: flex;
    justify-content: center;
}

.aboutMeText {
    opacity: 0;
    transition: all 0.5s ease;
}


.container {
    transform: translate(0, 50px);
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 40px;
}

.about-me_1 {
    transform: translateX(-5%);
    filter: blur(5px);
    opacity: 0;
    width: 400px;
    height: 300px;
    background: linear-gradient(var(--angle), yellow, rgb(255, 187, 0));
    border-radius: 40px;
    box-shadow: 0px 10px 20px black;
    transition: all 0.5s ease;
    animation: gradient 5s linear infinite;
}

.aboutMeAnimation {
    transform: translateX(0);
    filter: blur(0);
    opacity: 1;
}

.about-me_1:nth-child(1){
    transition-delay: 300ms;
}

.about-me_1:nth-child(2){
    transition-delay: 350ms;
}

.about-me_1:nth-child(3){
    transition-delay: 400ms;
}

.about-me_1 p {
    transform: translate(0, 30px);
    font-family: "Mitr", sans-serif;
    font-size: 120%;
    font-weight: 400;
}

.about-me h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-family: "Mitr", sans-serif;
    font-weight: 500;
    font-size: 150%;
}


.myProjectText {
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    font-style: normal;
    margin-top: 100px;
    opacity: 0;
    transform: translate(-522px, 40px);
    transition: all 0.3s ease;
}

.projectsText {
    opacity: 0;
    display: flex;
    justify-content: center;
    transform: translate(-500px, 0);
    font-family: "Mitr", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 180%;
    font-size: 280%;
    transition: all 0.3s ease;
}

.projectP {
    opacity: 0;
    display: flex;
    font-family: "Mitr", sans-serif;
    font-weight: 400;
    transform: translate(-595px);
    margin-left: 50%;
    max-width: 700px;
    transition: all 0.3s ease;
}



@media (max-width: 1295px) {
    .projectsText {
        display: flex;
        justify-content: flex-start;
        transform: translate(0, 0);
    }
    
    .myProjectText {
        justify-content: flex-start;
        transform: translate(0, 40px);
    }

    .projectP {
        transform: translate(0);
        margin-left: 0;
    }
}

.images {
    display: flex;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
    margin-top: 70px;
}

.image {
    width: 300px;
    height: 170px;
    border-radius: 20px;
    box-shadow: 0px 5px 20px black;
    transform: translate(25px, 20px);
}

.containerImages {
    transform: translate(0, 5%);
    filter: blur(10px);
    opacity: 0;
    width: 350px;
    height: 500px;
    background: linear-gradient(var(--angle), rgb(0, 174, 255), aqua);
    border-radius: 30px;
    transition: all 0.5s ease;
    animation: gradient 5s linear infinite;
}


.containerImages:hover {
    transform: scale(1.03);
    box-shadow: 0px 0px 10px 5px #3273ff;
    background: linear-gradient(var(--angle), rgb(0, 0, 93), rgb(0, 34, 255));
}

.containerImages:hover h1,.containerImages:hover p  {
    color: #52d4ff;
    text-shadow: 0px 0px 30px #00bfff;
}

.containerImages:hover button {
    background-color: #64aaff;
    box-shadow: 0px 0px 20px rgb(0, 0, 41);
    color: rgb(0, 7, 35);
}

.containerImages button:hover {
    background-color: #1952ff;
    box-shadow: 0px 0px 20px rgb(0, 0, 41);
    color: rgb(255, 255, 255);
}

.containerImages h1 {
    font-family: "Mitr", sans-serif;
    font-weight: 600;
    color: rgb(14, 14, 14);
    text-align: center;
    transform: translate(0, 20px);
    transition: all 0.3s ease;
}

.containerImages p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(14, 14, 14);
    text-align: center;
    transform: translate(0, 20px);
    transition: all 0.3s ease;
}

.bottomExplore1, .bottomExplore2, .bottomExplore3{
    position: absolute;
    transform: translate(95px, 50px);
    text-align: center;
    width: 150px;
    padding: 10px;
    font-family: "Mitr", sans-serif;
    font-weight: 600;
    font-style: normal;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    color: black;
}

.bottomExplore1 {
    transform: translate(95px, 30px);
}

.bottomExplore3 {
    transform: translate(95px, 65px);
}

.animationForProjects {
    transform: translate(0, 0);
    opacity: 1;
    filter: blur(0);
    transition: all 0.5s ease;
}

@media (max-width: 354px) {
    .containerImages {
        width: 270px;
        height: 450px;
    }
    .image {
        width: 220px;
        height: 140px;
    }
    .containerImages p {
        font-size: 90%;
    }
    .containerImage1 h1 {
        transform: translate(0, 10px);
    }
    .containerImage1 p {
        transform: translate(0, -3px);
    }
    .bottomExplore1 {
        transform: translate(60px, 10px);
    }
    .bottomExplore2 {
        transform: translate(60px, 42px);
    }
    .bottomExplore3 {
        transform: translate(60px, 22px);
    }
    .containerImage3 p {
        transform: translate(0, 6px);
    }
}


.containerContact {
    opacity: 0;
    display: flex;
    justify-content: center !important;
    transition: all 0.5s ease;
    transform: translate(-5%, 0);
    filter: blur(10px);
}

.contactHeading {
    transform: translate(-350px, 50px);
    width: 500px;
    min-width: 500px;
    height: 720px;
    background: linear-gradient(45deg, #3273ff, #00106e);
    border-radius: 30px;
    margin: 0 !important;
}

.getInTouch {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    font-style: normal;
    opacity: 1;
    transform: translate(30px, 40px);
    transition: all 0.3s ease;
}


.contactMeText {
    opacity: 1;
    transform: translate(30px, 0);
    font-family: "Mitr", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 180%;
    font-size: 280%;
    transition: all 0.3s ease;
}

@media(max-width: 1295px) {
    .containerContact {
        display: flex;
        justify-content: flex-start !important;
        margin-left: 350px;
    } 
}

.containerInput {
    display: flex;
    justify-content: center !important;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    gap: 20px;
    transform: translate(0, -5px);
}

label {
    font-family: "Mitr", sans-serif;
    font-weight: 400;
    font-style: normal;
    transform: translate(0, -25px);
}

.nameInput, .emailInput, .messageTextarea {
    height: 50px;
    border-radius: 15px;
    border: none;
    background-color: #00106e;
    padding-left: 20px;
    color: #a9a9a9;
    font-family: "Mitr", sans-serif;
    transform: translate(0, -35px);
}

.messageTextarea {
    height: 140px;
    line-height: normal;
    padding-top: 10px;
    resize: none;
}


.nameInput:focus, .emailInput:focus, .messageInput:focus {
    box-shadow: 0px 0px 20px 5px rgb(5, 0, 110);
}

.sendMessage {
    transform: translate(0px, -5px);
    border-radius: 20px;
    border: none;
    outline: none;
    width: 120px;
    height: 60px;
    background-color :rgb(5, 0, 110);
    color: lightgrey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    transition: all 0.3s ease;
    cursor: pointer;
}

.sendMessage:hover {
    box-shadow: 0px 0px 7px 20px  #3273ff;
}


.opacityMyProject, .opacityGetInTouch {
    opacity: 0.7;
}

.opacityContact {
    opacity: 1;
    filter: blur(0);
    transform: translate(0, 0);
}

.computerDiv {
    opacity: 0;
    display: flex;
    justify-content: center;
    transform: translate(400px, -580px);
    transition: all 0.5s ease;
}

.nodeDiv {
    display: none;
}

@media (max-width: 1265px) {
    .computerDiv {
        transform: translate(300px, -580px) scale(0.8);
    }
}

@media (max-width: 975px) {
    .computerDiv {
        display: none;
    }
    .nodeDiv {
        opacity: 0;
        transition: all 0.5s ease;
        display: flex;
        justify-content: center;
        transform: translate(280px, -580px) scale(0.5);
    }
}



@media(max-width: 548px) {
    .containerContact {
        opacity: 0;
        filter: blur(0);
        margin-left: 350px;
    }

    .opacityContact {
        opacity: 1;
    }
}

@media (max-width: 799px) {
    .nodeImage {
        opacity: 0;
    }
}

@media (max-width: 512px) {
    .containerContact {
        display: flex;
        justify-content: flex-start !important;
    }
}

@media(max-width: 518px) {
    body {
        overflow-x: auto;
    }
}

.opacity {
    opacity: 1;
}

footer {
    position: relative;
    transform: translate(-10px, 0);
    background: #111;
    color: #fff;
    text-align: center;
    padding: 30px 20px;
    font-family: Arial, sans-serif;

}

.footer-container {
    max-width: 100vw;
    margin: auto;
}

.footer-text {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 20px;
    opacity: 0.8;
}

.footer-container h1 {
    font-size: 24px;
    margin: 10px 0;
}

.footer-container h2 {
    font-size: 24px;
    margin: 10px 0;
}
.footer-container p {
    font-size: 14px;
    opacity: 0.7;
}